<div class="="signup_form">
	<h1>Sign Up</h1>
	<%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
		<p>Full Name <%= f.text_field :name %></p>
		<p>Username: <%= f.text_field :username %></p>
		<p>Email: <%= f.text_field :email %></p>
		<p>Password: <%= f.password_field :password %></p>
		<p>Password Confirmation: <%= f.password_field :password_confirmation %></p>
		<p>Birthday: <%= f.date_select :birthday, :start_year => 1940%></p>
		<%= f.submit 'Sign Up' %>
	<% end %>
	
	<% if @user.errors.any? %>
		<ul class="signup_errors">
			<% for message_error in @user.errors.full_messages %>
				<li><%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
</div>