<div class="page-header"><center>
	<h3>Homework of the Week by <%= @type.to_s.gsub('_', ' ').titleize %></h3>
	
	<h4><%= @start_date.to_s + " --- " + @end_date.to_s %></h4>
</center></div>

<div id="homework">
	<% @homeworks.each do |homework| %>
		<a href="<%= site_homework_path(current_user.site.id, homework.id) %>"><h4><%= homework.subject + " - " + homework.chapter + " - " + "#{homework.issue_date.day}/#{homework.issue_date.month}/#{homework.issue_date.year}" %></h4></a>
		<%= simple_format(sanitize(truncate(homework.content, :length => 150))) %></li></ol></ul>
		<hr />
		<%= "Submission Date - #{homework.submission_date}"%>
		<% if @homeworks.last != homework and @homeworks.first != @homeworks.last %><br /><hr id="seperator" /><% end %>
	<% end %>
</div>

<ul class="pager">
	<li class="previous">
		<a href="<%= site_homeworks_path(current_user.site.id, :week => (@week + 1), :type => @type) %>">&larr; Older</a>
	</li>
	
	<% if @week == 1 %>
	<li class="next disabled">
	<% else %>
	<li class="next">
	<% end %>
		<a href="<%= site_homeworks_path(current_user.site.id, :week => (@week - 1), :type => :submission_date) %>">Newer &rarr;</a>
	</li>
</ul>