<% if @homeworks.nil? %>
	<%= render "search_form" %>
<% else %>
	<% @homeworks.each do |homework| %>
		<a href="<%= site_homework_path(current_user.site.id, homework.id) %>"><h4><%= homework.subject + " - " + homework.chapter + " - " + "#{l(homework.issue_date)}" %></h4></a>
		<%= simple_format(sanitize(truncate(homework.content, :length => 150))) %></li></ol></ul>
		<hr />
		<%= "Submission Date - #{l(@homework.submission_date)}"%>
	<% end %>
<% end %>
