<div id="myModal" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 948px; height: 380px; left: 34%; top: 2%;">
	<img src="<%= @link %>" id="photo" />
	<div class="modal-footer">
		<big><p class="text-center"><%= @name.html_safe %></p></big>
	</div>
</div>

<table>
	<td>
		<%= form_tag url_for(site_path(current_user.site)), :method => :get, :id => 'classwork_get' do%>
			<form accept-charset="UTF-8" action="<%= site_path(current_user.site) %>" id="classwork_get" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
			<input id="datepicker" name="datepicker" onchange="document.forms[&quot;classwork_get&quot;].submit();" type="hidden" /><span id="cds_placeholder_59844" style="display: none; position: absolute;"></span><script type="text/javascript">
			//<![CDATA[
			new CalendarDateSelect( $('cds_placeholder_59844').previous(), {embedded:true, year_range:[<%= @date.year - 1.year %>, <%= @date.year + 1.year %>]} ); 
			//]]>
			</script>
		<% end %>
	</td>
	
	<td>
		<a href="#myModal" role="button" data-toggle="modal"><img src="<%= @link %>" id="photo" style="width: 453px; height: 257px; padding-left: 15px; padding-bottom: 19px"/></a>
	</td>
</table>

<div id="classwork" class="content-box-gray">
	<%= simple_format(@classwork) %>
</div>

<div id="homework" class="content-box-gray">
	<% if @homeworks =~ /No homework.+/ %>
		<%= simple_format(@homeworks) %>
	<% else %>
		<% @homeworks.each do |homework| %>
			<a href="<%= site_homework_path(current_user.site.id, homework.id) %>"><h4><%= homework.subject + " - " + homework.chapter + " - " + l(@date).to_s %></h4></a>
			<%= simple_format(sanitize(truncate(homework.content, :length => 150))) %></li></ol></ul>
			<hr />
			<%= "Submission Date - #{l(homework.submission_date)}"%>
			<% if @homeworks.last != homework and @homeworks.first != @homeworks.last %><br /><hr id="seperator" /><% end %>
		<% end %>
	<% end %>
</div>

<center><% if current_user.admin && @available %><a href="<%= edit_site_classwork_path(current_user.site.id, @classwork_id) %>">Edit this Classwork</a><br /><% end %></center>