<style>
	#sidebar-links {
		padding-left: 15px;
	}
	
	#sidebar-img {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
	}
	
	#sidebar-poll {
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 3px;
	}
</style>

<center><h3 style="color: #663399;"><u><%= current_user.site.name %></u></h3></center>

<div id="sidebar-links">
	<a href="<%= site_path(current_user.site.id) %>">Home</a><br />
	<% if current_user.admin %><a href="<%= new_site_classwork_path(current_user.site.id) %>">Add Classwork</a><br /><% end %>
	<% if current_user.admin %><a href="<%= new_site_homework_path(current_user.site.id) %>">Add Homework</a><br /><% end %>
	<a href="<%= site_ebooks_path(current_user.site.id) %>">eBooks</a><br />
	<a href="#">Miscellaneous</a><br />
	
	
	
	<div class="dropdown-submenu">
		<a tabindex="-1" href="#">Homework of the Week</a>
		<ul class="dropdown-menu">
			<li><a tabindex="-1" href="<%= site_homeworks_path(current_user.site.id, :week => 1, :type => :submission_date) %>">Submission Date Wise</a></li>
			<li><a tabindex="-1" href="<%= site_homeworks_path(current_user.site.id, :week => 1, :type => :issue_date) %>">Issue Date Wise</a></li>
		</ul>
	</div>
	
	<a href="#">Music</a>
</div>

<div id="sidebar-img">
	<a href="http://www.saiinternationalschool.com"><img src="/images/logo.gif" /></a>
</div>

<div id="sidebar-links">
	<a href="#">Announcements</a><br />
	<a href="#">Calendar</a><br />
	<a href="#">Student Blogs</a><br />
	<a href="#">Reading List</a><br />
	<a href="#">Useful Links</a><br />
	<a href="#">Forms and Docs</a><br />
	<a href="#">Reference</a><br />
</div>

<div id="sidebar-poll">
	<center><a href="#"><img src="/images/poll.png" /></a></center>
</div>
